html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Helvetica";
  background-color: #f4f4f4;
}

a {
    	text-decoration: none;
    	color: #777;
}

a:hover {
	color: white;
}

b {
	color: black;
}

h1 {
	margin: 0;
}

#logo {
	height: 50px;
}

#profile {
	height: 30px;
}

.navbar {
        font-size: 16px;
        background-color: rgb(47,47,47);
        height: 50px;
        position: relative;
        z-index: 2;
}

.navbar > a > #profile {
	position: absolute;
	right: 60px;
	top: 10px;
	border: 1px solid rgb(47,47,47);
	border-radius: 15px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.main-nav li {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    padding: 5px;
}

.logo {
    display: inline-block;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #444;
    font-size: 24px;
}

.fa-bars:hover {
	color: white;
}

.active {
    display: block;
    background-color: rgb(47,47,47);
    margin-top: -5px;
}

#wrapper {
	padding: 0 15px;
	position: relative;
    z-index: 1;
}

[class*="col-"] {
	width: 100%;
	min-height: 1px;
}

.container {
	color: #777;

}

.col-1-2 {
	padding-top: 20px;
}

div.col-1-2.pull-right {
		padding-top: 0;
		padding-bottom: 10px;
}

#tagged {
	font-weight: bold;
	color: steelblue;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 0;
        height: 50px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar > a > #profile {
	right: 20px;
	top: 10px;
	}

	[class*="col-"] {
		float: left;
	}

	.col-1-2 {
		width: 50%;
	}

	.pull-right {
		float: right;
		text-align: right;
		padding-right: 50px;
	}

	div.col-1-2.pull-right {
		padding-top: 20px;
	}
}

@media screen and (min-width: 480px) {
	
}